main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-flex-publi {
    background-color: blueviolet;
    height: 700px;
    width: 90%;
    max-width: 900px;
}

#storys {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 30px;
}

#storys::-webkit-scrollbar{
    width: 0;
}

.card-story {
    /* background-color: cornflowerblue; */
}

.card-story>button {
    background-color: transparent;
    border: none;
    /* text-decoration: none; */ /*SÓ PARA QUEM ESTÁ COM A TAG <a>*/

    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-story>button>img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

/* seção criar publi */
.formulario-botao-azul{
    width: 150px;
}